// Variables
$logo-font: 'Heebo', sans-serif;
$primary-font: 'Poppins', sans-serif;
$gray1-color: #333;
$gray2-color: #4f4f4f;
$gray3-color: #828282;
$gray4-color: #bdbdbd;
$gray5-color: #E0E0E0;
$gray6-color: #F2F2F2;
$white-color: #fff;
$black-color: #100E1D;
$blue-color: #2D9CDB;
$red-color: #EB5757;