@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Icons";
  src: url("https://fonts.googleapis.com/icon?family=Material+Icons");
}

@font-face {
  font-family: "Mulish";
  src: url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
}

/* Classes */

.active {
  @apply border border-black rounded-2xl;
}
