* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  padding: 60px 60px 0 60px;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: auto;
}

#container #profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #profile-section #profile-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

#container #profile-section #profile-heading #profile-picture {
  width: 156px;
  padding-bottom: 8px;
}

#container #profile-section #profile-heading #profile-picture img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
}

#container #profile-section #profile-heading #profile-name {
  padding: 8px 0;
  font-size: 24px;
  line-height: 29px;
  color: #4E5150;
}

#container #profile-section #profile-heading #profile-location {
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
}

#container #profile-section #profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #profile-section #profile-info .info-box {
  padding: 15px 25px;
  width: 150px;
  margin: 0 24px;
  background: #E5E5E5;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #profile-section #profile-info .info-box .info-number {
  font-size: 18px;
  line-height: 22px;
  color: #4E5150;
  padding: 2px;
}

#container #profile-section #profile-info .info-box .info-name {
  font-size: 14px;
  line-height: 17px;
  color: #BDBDBD;
  padding: 2px;
}

#container #image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

#container #image-section .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #image-section .row1 .photo1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

#container #image-section .row1 .photo1 img {
  border-radius: 12px;
  max-width: 100%;
  height: 100%;
}

#container #image-section .row1 .photo2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 1rem;
}

#container #image-section .row1 .photo2 img {
  border-radius: 12px;
  max-width: 100%;
  height: 100%;
}

#container #image-section .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #image-section .row2 .col1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container #image-section .row2 .col1 .col1-row1 {
  height: 100%;
}

#container #image-section .row2 .col1 .col1-row1 .photo3 {
  padding: 1rem;
  height: 100%;
}

#container #image-section .row2 .col1 .col1-row1 .photo3 img {
  border-radius: 12px;
  max-width: 100%;
  height: 100%;
}

#container #image-section .row2 .col1 .col1-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#container #image-section .row2 .col1 .col1-row2 .photo6 {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#container #image-section .row2 .col1 .col1-row2 .photo6 img {
  border-radius: 12px;
  max-width: 100%;
  height: 100%;
}

#container #image-section .row2 .col1 .col1-row2 .photo5 {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#container #image-section .row2 .col1 .col1-row2 .photo5 img {
  border-radius: 12px;
  max-width: 100%;
  height: 100%;
}

#container #image-section .row2 .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#container #image-section .row2 .col2 .photo4 {
  padding: 1rem;
  height: 100%;
}

#container #image-section .row2 .col2 .photo4 img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

#footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #B9BDCF;
}

#footer {
  padding: 24px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #container {
    padding: 60px 10px 0 10px;
  }
}

@media screen and (max-width: 600px) {
  #container {
    padding-top: 30px;
    min-height: calc(100vh - 66px);
  }
  #container #profile-section #profile-heading {
    padding-bottom: 12px;
  }
  #container #profile-section #profile-heading #profile-picture {
    width: 100px;
    padding-bottom: 5px;
  }
  #container #profile-section #profile-heading #picture-name {
    font-size: 14px;
    line-height: 17px;
    padding: 4px 0;
  }
  #container #profile-section #profile-heading #picture-location {
    font-size: 10px;
    line-height: 12px;
  }
  #container #profile-section #profile-info .info-box {
    width: 85px;
    padding: 5px 12px;
    margin: 0 6px;
  }
  #container #profile-section #profile-info .info-box .info-number {
    font-size: 12px;
    line-height: 15px;
  }
  #container #profile-section #profile-info .info-box .info-name {
    font-size: 12px;
    line-height: 15px;
  }
  #container #image-section {
    padding: 30px 0;
  }
  #container #image-section .row1 .photo1 {
    padding: 6px;
  }
  #container #image-section .row1 .photo2 {
    padding: 6px;
  }
  #container #image-section .row2 .col1 .col1-row1 .photo3 {
    padding: 6px;
  }
  #container #image-section .row2 .col1 .col1-row2 .photo6 {
    padding: 6px;
  }
  #container #image-section .row2 .col1 .col1-row2 .photo5 {
    padding: 6px;
  }
  #container #image-section .row2 .col2 .photo4 {
    padding: 6px;
  }
}
/*# sourceMappingURL=styles.css.map */