// Variables
$light-color: #fff;
$dark-color: #000;
$gray1-color: #333;
$gray2-color: #4f4f4f;
$gray3-color: #bdbdbd;
$gray4-color: #828282;
$orange-color: #F2994A;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Playfair Display', serif;