@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 1440px;
    margin: auto;
    padding: 50px 50px 0 50px;
    font-family: $primary-font;

    #heading {
        h1 {
            font-family: $secondary-font;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
        }

        #heading-sub {
            display: flex;
            padding: 15px 0;
            
            #svg {
                padding-right: 20px;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                font-style: italic;
                line-height: 17px;
                color: $gray2-color;
            }
        }
    }

    #main-image {
        padding: 25px 0;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    #main-section {
        display: flex;
        padding: 25px 0;

        #recipe {
            flex: 3;
            margin-right: 150px;

            #ingredients {
                h1 {
                    font-family: $secondary-font;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: $gray1-color;
                }

                .ing-1 {
                    padding: 32px 0;
                    h4 {
                        font-family: $secondary-font;
                        font-style: italic;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        padding-bottom: 32px;
                    }

                    .crust-ings {
                        list-style: none;
                        padding-left: 35px;

                        li:before {
                            content: "";
                            width: 19px;
                            height: 19px;
                            display: inline-block;
                            border: 1px solid $gray4-color;
                            margin-right: 15px;
                            border-radius: 4px;
                            vertical-align: text-bottom;
                        }

                        li {
                            padding: 5px 0;
                            text-indent: -35px;
                            line-height: 22px;
                            color: $gray1-color;
                        }
                    }
                }

                .ing-2 {
                    padding: 32px 0;
                    h4 {
                        font-family: $secondary-font;
                        font-style: italic;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        padding-bottom: 32px;
                    }

                    .cake-ings {
                        list-style: none;
                        padding-left: 35px;

                        li:before {
                            content: "";
                            width: 19px;
                            height: 19px;
                            display: inline-block;
                            border: 1px solid $gray4-color;
                            margin-right: 15px;
                            border-radius: 4px;
                            vertical-align: text-bottom;
                        }

                        li {
                            padding: 5px 0;
                            text-indent: -35px;
                            color: $gray1-color;
                            line-height: 22px;
                        }
                    }
                }
            }

            #instructions {
                padding-bottom: 50px;
                h1 {
                    font-family: $secondary-font;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: $gray1-color;
                    padding-bottom: 28px;
                }

                ol {
                    list-style: none;
                    counter-reset: instructions-counter;
                    margin-left: 50px;

                    li {
                        counter-increment: instructions-counter;
                        line-height: 30px;
                        text-indent: -50px;
                        padding: 10px 0;
                    }

                    li:before {
                        content: counter(instructions-counter);
                        width: 36px;
                        height: 36px;
                        display: inline-block;
                        background-color: $orange-color;
                        border-radius: 6px;
                        color: $light-color;
                        font-family: $secondary-font;
                        font-weight: 700;
                        font-size: 24px;
                        margin-right: 15px;
                        text-align: center;
                        text-indent: 0px;
                    }
                }
            }

            a {
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $gray3-color;
                text-decoration: none;
            }
        }

        #side-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            padding: 50px 10px;


            .sub-box {
                display: flex;
                padding: 15px;
                .svg-img {
                    width: 30px;
                    height: 30px;
                    margin: 7px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .sub-info {
                    margin: 7px;
                    .subbox-heading {
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: $gray3-color;
                        padding-bottom: 4px;
                    }

                    .subbox-content {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: $gray1-color;
                    }

                    .orange {
                        color: $orange-color;
                    }
                }
            }
        }
    }

    // Footer Section
    #footer-link {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-decoration: none;
        color: $gray2-color;
    }
    
    #footer {
        padding: 50px 0 25px 0;
        text-align: center;
    }
}

@import "media";