@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Families */
@font-face {
    font-family: "Noto Sans";
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
}

/* Apply Classes */

.input-default {
    @apply border-2 border-gray-400 py-4 px-3 rounded-lg outline-none w-52 hover:border-gray-800 focus:border-blue-500;
}

.input-error {
    @apply border-2 border-gray-400 py-4 px-3 rounded-lg outline-none w-52 hover:border-gray-800 focus:border-red-500;
}

.label-default {
    @apply block capitalize;
}

.label-error {
    @apply block capitalize;
}

.disable {
    @apply border border-gray-300 bg-gray-200 hover:border-gray-300 cursor-not-allowed;
}