* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #181719;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

#container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 70px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

#nav #logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Crimson Pro", serif;
  border: 1px solid #fff;
  padding: 8px;
  font-size: 14px;
}

#nav #logo:hover {
  color: #828282;
  border: 1px solid #828282;
}

#nav .nav-link {
  text-decoration: none;
  padding: 0 25px;
  list-style: none;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {
  border-bottom: 2px solid #fff;
  font-weight: 700;
  padding-bottom: 8px;
}

#nav input[type=checkbox] {
  display: none;
}

#nav .hamburger {
  display: none;
  font-size: 22px;
}

#nav .cross {
  display: none;
  font-size: 22px;
}

#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  padding-bottom: 150px;
}

#hero-section #writing {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#hero-section #writing h1 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 40px;
}

#hero-section #writing p {
  font-size: 24px;
  margin-bottom: 48px;
  line-height: 30px;
}

#hero-section #writing a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

#hero-section #writing .vector {
  font-size: 24px;
}

#hero-section #images {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#hero-section #images #img {
  position: relative;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#hero-section #images #img .main-img {
  max-width: 100%;
  max-height: 100%;
}

#hero-section #images #img #profile {
  max-width: 500px;
  position: absolute;
  bottom: -100px;
  right: 40px;
}

#hero-section #images #img #profile .profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero-section #images #img #profile .dp {
  padding: 20px;
}

#hero-section #images #img #profile .dp .profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#hero-section #images #img #profile .profile-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hero-section #images #img #profile #profile-name {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 7px;
}

#hero-section #images #img #profile #profile-ocupation {
  font-weight: 500;
  font-size: 12px;
  color: #828282;
}

#hero-section #images #img #profile h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Lora", serif;
  padding: 0 20px;
  padding-bottom: 40px;
}

#footer-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #ccc;
}

#footer {
  padding-bottom: 24px;
  text-align: center;
  margin-top: auto;
}

@media screen and (max-width: 1440px) {
  #hero-section #images #img #profile {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    right: -40px;
  }
}

@media only screen and (max-width: 992px) {
  #container {
    padding: 0 40px;
  }
  #nav .nav-link {
    padding: 0 15px;
  }
  #hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hero-section #writing {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  #container {
    padding: 0 20px;
  }
  #nav {
    padding: 30px 0;
  }
  #nav .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95vw;
    height: calc(100vh - 87px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -100vh;
    left: 0;
    -webkit-transition: top 1s;
    transition: top 1s;
    z-index: 999;
  }
  #nav .nav-link {
    padding: 10px 0;
  }
  #nav .current {
    padding-bottom: 3px;
  }
  #nav input[type=checkbox]:checked ~ .menu {
    top: 87px;
    overflow-y: hidden;
  }
  #nav .hamburger {
    display: block;
    margin-left: auto;
  }
  #nav .hamburger:hover {
    cursor: pointer;
    color: #828282;
  }
  #nav .cross {
    display: none;
    margin-left: auto;
    font-weight: bold;
  }
  #nav .cross:hover {
    cursor: pointer;
    color: #828282;
  }
  #nav input[type=checkbox]:checked + .hamburger {
    display: none;
  }
  #nav input[type=checkbox]:checked ~ .cross {
    display: block;
  }
  #hero-section #images #img {
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */