@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Families */

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Material Icons";
  src: url("https://fonts.googleapis.com/icon?family=Material+Icons");
}

/* Custom Classes */

.background {
  @apply bg-[url('./assets/background.png')] h-screen w-screen bg-center bg-no-repeat bg-cover font-poppins;
}
