@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Families */

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Material Icons";
  src: url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
}

/* Custom Classes */

.background {
  @apply bg-[url('./assets/background.png')] h-screen w-screen bg-center bg-no-repeat bg-cover font-poppins;
}

.app {
  @apply h-[calc(100vh-96px)] grid place-content-center;
}

.country-quiz {
  @apply uppercase font-bold text-white text-4xl;
}

.quiz-card {
  @apply relative my-3 bg-white rounded-3xl px-8 pb-8 pt-[68px];
}

.svg-1 {
  @apply mb-6 absolute right-0 top-[-74px];
}

.flag {
  @apply w-[84px] mb-7 shadow;
}

.question {
  @apply font-bold text-2xl text-[#2F527B];
}

.options {
  @apply text-[#6066D0] rounded-xl border-2 border-[#6066D0] my-6 hover:bg-[#F9A826] hover:text-white hover:cursor-pointer hover:border-[#F9A826] text-xl px-5 py-[14px];
}

.correct {
  @apply text-white bg-[#60BF88] border-[#60BF88];
}

.incorrect {
  @apply text-white bg-[#EA8282] border-[#EA8282];
}

.try-again {
  @apply text-[#1D355D] text-lg font-semibold py-5 px-16 border-2 border-[#1D355D] rounded-xl hover:bg-slate-100;
}

.footer {
  @apply pt-12 pb-6 text-gray-400 flex justify-center text-xs md:text-base;
}

/* Media Queries */
@media screen and (max-width: 525px) {
  .card {
    transform: scale(0.7);
  }
}
