// Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Lora', serif;
$logo-font: 'Crimson Pro', serif;
$dark-color: #181719;
$light-color: #fff;
$footer-color: #A9A9A9;
$faded-color: #828282;
