@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $dark-color;
    color: $light-color;
    font-family: $primary-font;
}

#container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 70px;
}

// navbar
#nav {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    .menu {
        display: flex;
        font-size: 18px;
    }

    #logo {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $logo-font;
        border: 1px solid $light-color;
        padding: 8px;
        font-size: 14px;
    }

    #logo:hover {
        color: $faded-color;
        border: 1px solid $faded-color;
    }

    .nav-link {
        text-decoration: none;
        padding: 0 25px;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        border-bottom: 2px solid $light-color;
        font-weight: 700;
        padding-bottom: 8px;
    }

    input[type=checkbox] {
        display: none;
    }

    .hamburger {
        display: none;
        font-size: 22px;
    }

    .cross {
        display: none;
        font-size: 22px;
    }
}

@import "media";