@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $dark-color;
    color: $light-color;
    font-family: $primary-font;
}

#container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 70px;
}

// navbar
#nav {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    .menu {
        display: flex;
        font-size: 18px;
    }

    #logo {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $logo-font;
        border: 1px solid $light-color;
        padding: 8px;
        font-size: 14px;
    }

    #logo:hover {
        color: $faded-color;
        border: 1px solid $faded-color;
    }

    .nav-link {
        text-decoration: none;
        padding: 0 25px;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        border-bottom: 2px solid $light-color;
        font-weight: 700;
        padding-bottom: 8px;
    }

    input[type=checkbox] {
        display: none;
    }

    .hamburger {
        display: none;
        font-size: 22px;
    }

    .cross {
        display: none;
        font-size: 22px;
    }
}

// hero section
#hero-section {
    display: flex;
    align-items: center;

    #writing {
        flex: 1;

        h1 {
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 48px;
            margin-bottom: 40px;
        }

        p {
            font-size: 24px;
            margin-bottom: 48px;
            line-height: 30px;
        }

        a {
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
        }

        .vector {
            font-size: 24px;
        }
    }

    #images {
        flex: 2;

        #img {
            position: relative;
            display: block;
            width: 75%;
            margin-left: auto;
            margin-right: auto;

            .main-img {
                max-width: 100%;
                max-height: 100%;
            }

            #profile {
                border: 1px solid white;
                max-width: 500px;
                position: absolute;
                bottom: -100px;
                right: 40px;

                .profile-header {
                    display: flex;
                }

                .dp {
                    padding: 20px;

                    .profile-picture {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                    }
                }

                .profile-info {
                    align-self: center;
                }

                #profile-name {
                    font-weight: 500;
                    font-size: 14px;
                    padding-bottom: 7px;
                }

                #profile-ocupation {
                    font-weight: 500;
                    font-size: 12px;
                    color: $faded-color;
                }

                h2 {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 700;
                    font-family: $secondary-font;
                    padding: 0 20px;
                    padding-bottom: 40px;
                }
            }
        }
    }
}

@import "media";