// Variables
$font: 'Montserrat', sans-serif;
$gray1-color: #4E5150;
$gray2-color: #333;
$gray3-color: #4F4F4F;
$gray4-color: #828282;
$gray5-color: #BDBDBD;
$gray6-color: #F2F2F2;
$orange-color: #F2994A;
$while-color: #FFF;
