@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    font-family: $font;
    font-weight: 600;
    background-color: $while-color;
    max-width: 1440px;
    margin: auto;
    padding: 60px;

    h1 {
        font-size: 36px;
        line-height: 44px;
        color: $gray1-color;
        padding-bottom: 25px;
    }
    
    #flex {
        display: flex;
        #form-side {
            flex: 1.2;
            padding-right: 60px;
    
            .message {
                display: hidden;
            }
    
            #contact-section {
                padding: 25px 0;
    
                h3 {
                    font-size: 18px;
                    line-height: 22px;
                    padding-bottom: 15px;
                    color: $gray2-color;
                }
    
                #email-input {
                    padding-bottom: 20px;
                    position: relative;
                    label {
                        display: block;
                        padding-bottom: 7px;
                        font-size: 12px;
                        line-height: 15px;
                        color: $gray3-color;
                    }
    
                    input {
                        font-size: 16px;
                        line-height: 20px;
                        color: $gray2-color;
                        padding: 18px 50px;
                        border: 1px solid $gray4-color;
                        border-radius: 12px;
                        width: 100%;
                    }
    
                    i {
                        position: absolute;
                        font-size: 20px;
                        color: $gray4-color;
                        left: 15px;
                        top: 40px;
                    }
                }
    
                #phone-input {
                    padding-bottom: 20px;
                    position: relative;
                    label {
                        display: block;
                        padding-bottom: 7px;
                        font-size: 12px;
                        line-height: 15px;
                        color: $gray3-color;
                    }
    
                    input {
                        font-size: 16px;
                        line-height: 20px;
                        color: $gray2-color;
                        padding: 18px 50px;
                        border: 1px solid $gray4-color;
                        border-radius: 12px;
                        width: 100%;
                    }
    
                    i {
                        position: absolute;
                        font-size: 20px;
                        color: $gray4-color;
                        left: 15px;
                        top: 40px;
                    }
                }
            }
    
            #shipping-section {
                padding: 25px 0;
    
                h3 {
                    font-size: 18px;
                    line-height: 22px;
                    padding-bottom: 15px;
                    color: $gray2-color;
                }
    
                #name-input {
                    padding-bottom: 20px;
                    position: relative;
                    label {
                        display: block;
                        padding-bottom: 7px;
                        font-size: 12px;
                        line-height: 15px;
                        color: $gray3-color;
                    }
    
                    input {
                        font-size: 16px;
                        line-height: 20px;
                        color: $gray2-color;
                        padding: 18px 50px;
                        border: 1px solid $gray4-color;
                        border-radius: 12px;
                        width: 100%;
                    }
    
                    i {
                        position: absolute;
                        font-size: 20px;
                        color: $gray4-color;
                        left: 15px;
                        top: 40px;
                    }
                }
    
                #address-input {
                    padding-bottom: 20px;
                    position: relative;
                    label {
                        display: block;
                        padding-bottom: 7px;
                        font-size: 12px;
                        line-height: 15px;
                        color: $gray3-color;
                    }
    
                    input {
                        font-size: 16px;
                        line-height: 20px;
                        color: $gray2-color;
                        padding: 18px 50px;
                        border: 1px solid $gray4-color;
                        border-radius: 12px;
                        width: 100%;
                    }
    
                    i {
                        position: absolute;
                        font-size: 20px;
                        color: $gray4-color;
                        left: 15px;
                        top: 40px;
                    }
                }
    
                #city-input {
                    padding-bottom: 20px;
                    position: relative;
                    label {
                        display: block;
                        padding-bottom: 7px;
                        font-size: 12px;
                        line-height: 15px;
                        color: $gray3-color;
                    }
    
                    input {
                        font-size: 16px;
                        line-height: 20px;
                        color: $gray2-color;
                        padding: 18px 50px;
                        border: 1px solid $gray4-color;
                        border-radius: 12px;
                        width: 100%;
                    }
    
                    i {
                        position: absolute;
                        font-size: 20px;
                        color: $gray4-color;
                        left: 15px;
                        top: 40px;
                    }
                }
    
                #country-post {
                    display: flex;
                    #country-input {
                        padding-bottom: 20px;
                        position: relative;
                        flex: 1;
                        padding-right: 10px;
                        label {
                            display: block;
                            padding-bottom: 7px;
                            font-size: 12px;
                            line-height: 15px;
                            color: $gray3-color;
                        }
        
                        select {
                            font-size: 16px;
                            line-height: 20px;
                            color: $gray2-color;
                            padding: 18px 50px;
                            border: 1px solid $gray4-color;
                            border-radius: 12px;
                            width: 100%;
                            background-color: $while-color;
                        }
        
                        i {
                            position: absolute;
                            font-size: 20px;
                            color: $gray4-color;
                            left: 15px;
                            top: 40px;
                        }
                    }
    
                    #postal-input {
                        padding-bottom: 20px;
                        position: relative;
                        padding-left: 10px;
                        flex: 1;
                        label {
                            display: block;
                            padding-bottom: 7px;
                            font-size: 12px;
                            line-height: 15px;
                            color: $gray3-color;
                        }
        
                        input {
                            font-size: 16px;
                            line-height: 20px;
                            color: $gray2-color;
                            padding: 18px 50px;
                            border: 1px solid $gray4-color;
                            border-radius: 12px;
                            width: 100%;
                        }
        
                        i {
                            position: absolute;
                            font-size: 20px;
                            color: $gray4-color;
                            left: 15px;
                            top: 40px;
                        }
                    }
                }
    
                #save-input {
                    padding: 20px 0;
    
                    input {
                        border: 1px solid $gray4-color;
                        border-radius: 4px;
                        width: 21px;
                        height: 21px;
                        margin-right: 8px;
                        vertical-align: middle;
                    }
    
                    label {
                        font-size: 12px;
                        line-height: 15px;
                        color: $gray3-color;
                    }
                }
    
                input[type=submit] {
                    padding: 17px 45px;
                    color: $while-color;
                    font-size: 16px;
                    line-height: 20px;
                    background: $orange-color;
                    border-radius: 12px;
                    float: right;
                    border: none;
                    cursor: pointer;
                }
            }
    
        }
    
        #cart-side {
            flex: 0.7;
            padding-left: 60px;
    
            #cart {
                padding: 30px;
                background-color: $gray6-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 12px;
    
                #item1 {
                    display: flex;
                    width: 100%;
                    padding-bottom: 20px;
    
                    .img {
                        padding-right: 20px;
    
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 13px;
                        }
                    }
    
                    .item-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        .item-heading {
                            .item-name {
                                font-size: 16px;
                                line-height: 20px;
                                color: $gray1-color;
                                padding-bottom: 5px;
                            }
        
                            .item-price {
                                .current1-price {
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: $orange-color;
                                    padding-right: 10px;
                                }
        
                                .previous1-price {
                                    font-size: 12px;
                                    line-height: 15px;
                                    text-decoration-line: line-through;
                                    color: $gray1-color;
                                }
                            }
                        }
                        
                        .quantity {
                            width: 100%;
                            border: 1px solid $gray4-color;
                            border-radius: 12px;
                            padding: 15px;
                            display: flex;
                            justify-content: space-between;
    
                            .item1-num {
                                font-size: 16px;
                                line-height: 20px;
                                color: $gray2-color;
                            }
    
                            .item1-minus {
                                color: $gray2-color;
                                padding: 0 5px;
                                background: #E0E0E0;
                                border-radius: 4px;
                                cursor: pointer;
                            }
    
                            .item1-plus {
                                color: $gray2-color;
                                padding: 0 5px;
                                background: #E0E0E0;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                    }
                }
    
                #item2 {
                    display: flex;
                    width: 100%;
                    padding-bottom: 20px;
    
                    .img {
                        padding-right: 20px;
    
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 13px;
                        }
                    }
    
                    .item-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        .item-heading {
                            .item-name {
                                font-size: 16px;
                                line-height: 20px;
                                color: $gray1-color;
                                padding-bottom: 5px;
                            }
        
                            .item-price {
                                .current2-price {
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: $orange-color;
                                    padding-right: 10px;
                                }
        
                                .previous2-price {
                                    font-size: 12px;
                                    line-height: 15px;
                                    text-decoration-line: line-through;
                                    color: $gray1-color;
                                }
                            }
                        }
                        
                        .quantity {
                            width: 100%;
                            border: 1px solid $gray4-color;
                            border-radius: 12px;
                            padding: 15px;
                            display: flex;
                            justify-content: space-between;
    
                            .item2-num {
                                font-size: 16px;
                                line-height: 20px;
                                color: $gray2-color;
                            }
    
                            .item2-minus {
                                color: $gray2-color;
                                padding: 0 5px;
                                background: #E0E0E0;
                                border-radius: 4px;
                                cursor: pointer;
                            }
    
                            .item2-plus {
                                color: $gray2-color;
                                padding: 0 5px;
                                background: #E0E0E0;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                    }
                }
    
                #info {
                    width: 100%;
                    padding-top: 100px;
    
                    hr {
                        color: $gray4-color;
                    }
    
                    div {
                        display: flex;
                        justify-content: space-between;
    
                        span {
                            padding: 10px 0;
                            font-size: 18px;
                            line-height: 22px;
                            color: $gray2-color;
                        }
                    }
                }
            }
        }
    }
}

// Footer Section
#footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: $gray4-color;
}

#footer {
    padding: 24px 0;
    text-align: center;
}

@import "media";
