* {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

body {
  color: #000;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}

#header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 110px;
  padding-bottom: 20px;
}

#main-h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main-h1 h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
}

#header-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header-content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

#header-content p {
  font-family: "Poppins", sans-serif;
  max-width: 440px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding-top: 15px;
}

#main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  height: 1000px;
  padding-bottom: 110px;
}

#main-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  height: auto;
  width: 100%;
}

.img-1 {
  max-width: 238px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-2 {
  max-width: 238px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-3 {
  max-width: 238px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-4 {
  max-width: 238px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-5 {
  max-width: 238px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-6 {
  max-width: 238px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: "PT Serif", serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 15.9px;
  font-size: 12px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 5px;
}

.horizontal {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

#footer-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #ccc;
}

#footer {
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  #header-container {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #main-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 1200px;
  }
  .img-1 {
    max-width: 188px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-2 {
    max-width: 188px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-3 {
    max-width: 188px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-4 {
    max-width: 188px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-5 {
    max-width: 188px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-6 {
    max-width: 188px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  #header-container {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
  }
  #main-h1 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 570px) {
  #header-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 450px) {
  #main-container {
    padding-left: 20px;
    padding-right: 20px;
    height: 1000px;
  }
  .img-1 {
    max-width: 138px;
  }
  .img-2 {
    max-width: 138px;
  }
  .img-3 {
    max-width: 138px;
  }
  .img-4 {
    max-width: 138px;
  }
  .img-5 {
    max-width: 138px;
  }
  .img-6 {
    max-width: 138px;
  }
}
/*# sourceMappingURL=style.css.map */