$primary-font: 'Poppins', sans-serif;
$secondary-font: 'PT Serif', serif;
$footer-font: 'Montserrat', sans-serif;
$light-color: #fafafa;
$dark-color: #000;

* {
    padding: 0;
    margin: 0;
    background-color: $light-color;
}

body {
    color: $dark-color;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
}

#header-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 110px;
}

#main-h1 {
    flex: 1;

    h1 {
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
    } 

}

#header-content {
    flex: 1;

    h3 {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
    }

    p {
        font-family: $primary-font;
        max-width: 440px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-top: 15px;
    }
}