// Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'PT Serif', serif;
$footer-font: 'Montserrat', sans-serif;
$light-color: #fafafa;
$dark-color: #000;

// universal 
* {
    padding: 0;
    margin: 0;
    background-color: $light-color;
}

body {
    color: $dark-color;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
}

// Header Section
#header-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 110px;
    padding-bottom: 20px;
}

#main-h1 {
    flex: 1;

    h1 {
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
    } 

}

#header-content {
    flex: 1;

    h3 {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
    }

    p {
        font-family: $primary-font;
        max-width: 440px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-top: 15px;
    }
}

// Main Section
#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    height: 1000px;
    padding-bottom: 110px;
}

#main-container > div {
    display: flex;
}

img {
    height: auto;
    width: 100%;
}

.img-1 {
    max-width: 238px;
    align-self: center;
    display: flex;
}

.img-2 {
    max-width: 238px;
    align-self: flex-end;
    margin: 0 auto;
    display: flex;
}

.img-3 {
    max-width: 238px;
    align-self: center;
    margin-left: auto;
    display: flex;
}

.img-4 {
    max-width: 238px;
    align-self: center;
    display: flex;
}

.img-5 {
    max-width: 238px;
    align-self: flex-end;
    margin: 0 auto;
    display: flex;
}

.img-6 {
    max-width: 238px;
    align-self: center;
    margin-left: auto;
    display: flex;
}

.vertical {
    writing-mode: vertical-rl;
    font-family: $secondary-font;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 15.9px;
    font-size: 12px;
    align-self: flex-start;
    padding-left: 5px;
}
.horizontal {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

// Footer Section
#footer-link {
    font-family: $footer-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #ccc;
}
  
#footer {
    padding-bottom: 24px;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    #header-container {
        transform: scale(0.9);
    }

    #main-container {
        grid-template-columns: 1fr 1fr;
        height: 1200px;
    }

    .img-1 {
        max-width: 188px;
        align-self: center;
        margin: 0 auto;
        display: flex;
    }
    
    .img-2 {
        max-width: 188px;
        align-self: flex-end;
        margin: 0 auto;
        display: flex;
    }
    
    .img-3 {
        max-width: 188px;
        align-self: center;
        margin: 0 auto;
        display: flex;
    }
    
    .img-4 {
        max-width: 188px;
        align-self: flex-end;
        margin: 0 auto;
        display: flex;
    }
    
    .img-5 {
        max-width: 188px;
        align-self: center;
        margin: 0 auto;
        display: flex;
    }
    
    .img-6 {
        max-width: 188px;
        align-self: flex-end;
        margin: 0 auto;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    #header-container {
        transform: scale(1);
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }

    #main-h1 {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 570px) {
    #header-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 450px) {
    #main-container {
        padding-left: 20px;
        padding-right: 20px;
        height: 1000px;
    }

    .img-1 {
        max-width: 138px;
    }
    
    .img-2 {
        max-width: 138px;
    }
    
    .img-3 {
        max-width: 138px;
    }
    
    .img-4 {
        max-width: 138px;
    }
    
    .img-5 {
        max-width: 138px;
    }
    
    .img-6 {
        max-width: 138px;
    }
}